body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Quitamos la decoración a todas las etiquetas anclas */
a {
  text-decoration: none;
  cursor: pointer; /*Con esto, cuando pasemos el mouse el cursor cambia de forma*/
}

/* Al header damos una anchura y altura */
.header-main {
  width: 100%;
  height: 60 px;
}

/* Justificamos el contenido a lo que termina el flex */
.header-nav {
  display: flex;
  justify-content: flex-end;
}

/* Con esta configuracion los links quedan juntos */
header nav .nav-right-section {
  width: 250px; /*Indicamos el ancho de la barra de navegación*/
  height: auto; /*No indicamos la altura ya que ya dimos la altura a la etiqueta contenedora*/
  display: flex;
  list-style: none; /*Quitamos el estilo a la lista*/
  justify-content: center; /*Justificamos el contenido en el centro*/
  align-items: center; /*Alineamos los items en el centro para que no queden arriba*/
}

/*Damos espacios a los links*/
nav .nav-right-section a {
  margin-right: 10px;
  color: blue;
}

/*Insertando el icono de menú de google*/
nav .nav-right-section .menu-icon {
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat; /*Para evitar que la imagen se repita para llenar el vacío de su contenedor*/
  background-position: center; /*para que la imagen quede centrada dentro de su contenedor*/
  background-size: contain;/*contenedor de la imagen*/
  width: 25px;/*Ancho*/
  height: 25px;/*altura*/
}

/*Aplicando estilos a mi imagen de perfil de google*/
nav .nav-right-section img {
  border-radius: 50%; /*para redondear imagen*/
  margin-left: 10px; /*porque la imagen está muy pegada al icono de menú*/
}

main {
  margin-top: 150px;
  text-align: center;/*Todo el contenido de main se centre*/
}

main .main-logo {
  width: 530px;
  margin: 0 auto;/*0 auto divide entre 2 el espacio vacío que queda en el contenedor, lo centra*/
}

main .main-logo img {
  width: 300px;
}

main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;/*borde contenedor más grande con color similar al de Google*/
  display: flex;/*Dentro del input-container va a ver tres elementos, esto nos permite alinearlos linealmente*/
  justify-content: center;
  align-items: center;
}

main .main-input .main-input-text {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;/*con esto quitamos el borde generado al dar click en input*/
}

/*efecto hover, hover es un seudoelemento de css
Al pasar el mouse por el elemento hacer algo
Lo que va a hacer es el estilo que especificamos dentro de las llaves*/
.main-input-container:hover{
  box-shadow: 0 1px 6px 0 #20212447;/*Crea el efecto de sombra*/
  border-color: #dfe1e500;
}

.search-icon {
  background-image: url('https://img.icons8.com/android/24/000000/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.micro-icon{
  background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

